################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Template_API_Core2-1/appsettings.Development.json
